<!DOCTYPE html>
<html>
<head>
    <title>infociudad</title>
</head>
<body>
   
        <div class="textoTitu">
            <h1>INFO CIUDAD</h1>
        </div>

         <div class="textolista">
            {{body.key}}
        </div>
    
</body>
</html>